@import "tailwindcss";

@theme {
  --font-display: "Plus Jakarta Sans", "Noto Sans SC", sans-serif;
  --font-sans: "Plus Jakarta Sans", "Noto Sans SC", sans-serif;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
